# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl

# Node.js
node_modules/
npm-debug.log

# Python
__pycache__/
*.py[cod]
venv/
.env

# MacOS
.DS_Store

# Kubernetes Secrets
k8s/secrets.yaml.template

# IDEs
.vscode/
.idea/

# Project Description
FINAL_CAPSTONE_ASSIGNMENT.md

DEPLOYMENT.md

# Task Implementation Steps
Task-Implementation-steps.md
Task-Implementation-steps.pdf
