apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: shopmicro
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      initContainers:
      - name: wait-for-backend
        image: busybox
        command: ['sh', '-c', 'until nc -z backend 3001; do echo waiting for backend; sleep 5; done']
      containers:
      - name: frontend
        image: ghcr.io/amae69/shopmicro-production-frontend:${SHA_TAG}
        imagePullPolicy: IfNotPresent
        env:
        - name: REACT_APP_BACKEND_URL
          value: "http://backend:3001"
        ports:
        - containerPort: 3000
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "200m"
            memory: "256Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: shopmicro
spec:
  type: LoadBalancer
  selector:
    app: frontend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000
