apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-init
  namespace: shopmicro
data:
  init.sql: |
    CREATE TABLE IF NOT EXISTS products (
      id SERIAL PRIMARY KEY,
      name TEXT NOT NULL,
      price NUMERIC NOT NULL
    );
